# Default when unset: http://127.0.0.1:5000
# NEXT_PUBLIC_API_ORIGIN=http://127.0.0.1:5000
# NEXT_PUBLIC_MAGIC_PUBLISHABLE_KEY=pk_test_xxx

# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
# NEXT_PUBLIC_CLOUDINARY_API_KEY=

# NEXT_PUBLIC_FSSAI_LICENSE_NO=11224999001234
